<html>

<head>
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.3/angular.min.js"></script>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"/>    
    <script>
      function doLogOut()
      {
        localStorage.removeItem("activeuser");
        location.href = "index2.html";
      }
    </script>
    <script>
      $(document).ready(function(){
          if(localStorage.getItem("activeuser")==null)
{
  location.href = "index2.html";
  return;
}   
      })
    </script>
           <script>
            var module=angular.module("myModule",[]);

            var controller=module.controller("myController",function($scope,$http)
            {
              $scope.findInflu=function(fields)
              {
                let url="/find-influ?fields="+fields;
                $http.get(url).then(allIsWell,notWell);
                function allIsWell(response)
                {
                // alert(response.data);
                alert(JSON.stringify(response.data));
                    $scope.jsonArrayInflu=response.data;
                }
                function notWell(err)
                {
                    alert(err);
                }

              }
              $scope.dofind=function(fields,city)
            {
                let url="/do-find?fields="+fields+"&city="+city;
                $http.get(url).then(allIsWell,notWell);
                function allIsWell(response)
                {
                    $scope.jarraybyfnc=response.data;
                }
                function notWell(err)
                {
                     alert(err)
                }
           }
              $scope.dofindbyname = function(fname)
              {
                alert(1);
                let url="/do-findbyfname?fname="+fname;

                $http.get(url).then(allIsWell,notWell);
                function allIsWell(response)
                {
                    $scope.jarraybyfnc=response.data;
                    alert(JSON.stringify(response.data));
                }
                function notWell(err)
                {
                    alert(err)
                }
              }
              $scope.showinfo=function(index)
            {
                $scope.fullDetailobj=$scope.jarraybyfnc[index];
            } 
            })
            
           </script>
   
</head>

<body ng-app="myModule" ng-controller="myController">
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="pics/logome.png" alt="" style="width: 55px; height: 55px; border-radius: 10px;">
      </a>
      <h3 style="color: #8AAAE5">Cluencer</h3>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <center>
        <button type="button" class="btn btn-outline-danger" onclick="doLogOut();">Log Out</button>
      </center>
    </div>
  </nav>
    <center>
        <h3 style="margin-top: 20px; background-color: #8AAAE5; color:#ffffff; height: 50px;">Find Influencer </h3>
        <div class="container" style="margin-top: 30px;">
            <div class="row g-3 align-items-center">
                <div class="col-auto">
                    <label for="inputFields" class="col-form-label" >Fields</label>
                </div>
                <div class="col-auto">
                    <select class="form-select" aria-label="Default select example" multiple
                        aria-label="Multiple select example" ng-model="fields" ng-change="findInflu(fields);">
                        <option selected>Open this select menu</option>
                        <option value="Acting">Acting</option>
                        <option value="Dance">Dance</option>
                        <option value="Music">Music</option>
                        <option value="Travel">Travel</option>
                        <option value="Health and Fitness">Health and Fitness</option>
                        <option value="Food">Food</option>
                        <option value="Technology">Technology</option>
                        <option value="Lifestyle">Lifestyle</option>
                        <option value="Gaming">Gaming</option>
                        <option value="Parenting">Parenting</option>
                        <option value="Finance">Finance</option>
                        <option value="Education">Education</option>
                    </select>
                </div>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <div class="col-md-4">
                    <label for="inputCity" class="form-label">City</label>
                    <select id="City" name="City" class="form-select" ng-model="city">
                      <option selected disabled value="">Choose...</option>
                        <option>Sikkhim</option>
                    <option>Jharkhand</option>
                    <option>Kerala</option>
                    <option>Delhi</option>
                    <option>Jammu and Kashmir</option>
                    <option>Uttarakhand</option>
                    <option>Uttar Pradesh</option>
                    <option>Tamil Nadu</option>
                    <option>Himachal Pradesh</option>
                    <option>Meghalaya</option>
                    <option>Odisha</option>
                    <option>Arunachal Pradesh</option>
                    <option>Nagaland</option>
                    <option>Gujurat</option>
                    <option>Madhya Pradesh</option>
                    <option>Haryana</option>
                    <option>Telengana</option>
                    <option>Assam</option>
                    <option>Rajasthan</option>
                    <option>Manipur</option>
                    <option>West Bengal</option>
                    <option>Karnatka</option>
                    <option>Tripura</option>
                    <option>Andra Pradesh</option>
                    <option>Punjab</option>
                    <option>Mizoram</option>
                    <option>Goa</option>
                    <option>Bihar</option>
                    <option>Chattisgarh</option>
                    <option>Maharashtra</option>
                      
                      <option ng-repeat="obj in jsonArrayInflu" value="{{obj.city}}">{{obj.city}}</option>
                    </select>
                  </div>
                         <div class="col-md-4">
                            <button type="button" id="btnFind" name="btnFind"  class="btn btn-outline-info" style="margin-top: 41px;" ng-click="dofind(fields,city);">Find Now</button>
                        </div>
                        <br>
                        <br>
                        <br>

                        <div class="row g-3 align-items-center">
                            <div class="col-auto">
                              <label for="inputPassword6" class="col-form-label">Name</label>
                            </div>
                            <div class="col-auto">
                              <input type="text" id="txtName" name="txtName" class="form-control" aria-describedby="passwordHelpInline" ng-model="fname">
                            </div>
                            <div class="col-md-4">
                                <button type="button" class="btn btn-outline-info" id="btnSearch" name="btnSearch" ng-click="dofindbyname(fname);">Search by Name</button>
                            </div>
                            
                          </div>
                          
            </div>
            <center>
                <h2>Cards</h2>
            </center>
            
            <div class="row">
                <div class="col-md-3" ng-repeat="obj in jarraybyfnc">
                    <div class="card mt-5">
                      <center>  <img src="uploads/{{obj.picpath}}"  alt="..." height="40%" width="40%"></center>
                        <div class="card-body">
                          <h5 class="card-title">Name: {{obj.fname}}</h5>
                          <h5 class="card-title">Gender: {{obj.gender}}</h5>
                          <h5 class="card-title">Ig: {{obj.iname}}</h5>
                          <h5 class="card-title">City: {{obj.city}}</h5>            
                          <center><input type="button" data-bs-toggle="modal" data-bs-target="#FullModal"
                             class="btn btn-primary" ng-click="showinfo($index);" value="More Info"></center>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="FullModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="border:1px solid black" >
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Know Me</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <div 
                style="
                width:inherit;
                height:180px;
               
               
                ">
                <div>
                  <img src="uploads/{{fullDetailobj.picpath}}" width="150" height="150" style="float:left">
                </div>
                <div style=" margin-left:170px;">
                  <h3>{{fullDetailobj.fname}}</h3>
                  <h5>{{fullDetailObj.fields0}}</h5>
                  <br>
                  
                  </div>
                
                </div>
                <div style="
                width:450px;
                height:430px;
                float:left;
               
                  ">
                    <p><h6>Full Name:</h6><h8>{{fullDetailobj.fname}}</h8></p>
                    <p><h6>DOB:</h6><h8>{{fullDetailobj.dob}}</h8></p>
                    <p><h6>Email:</h6><h8>{{fullDetailobj.email}}</h8></p>
                    <p><h6>Gender:</h6><h8>{{fullDetailobj.gender}}</h8></p>
                    <p><h6>City:</h6><h8>{{fullDetailobj.city}}</h8></p>
                    <p><h6>Address:</h6><h8>{{fullDetailobj.address}}</h8></p>
                    <div>
                      <div style="float:left;margin-left:10px; ">        
                   <a href="{{fullDetailobj.iname}}">
                    <i class="fa-brands fa-instagram" style="color: #e449ca; font-size:30px;"></i>
                   </a>
                    <label for="inputCity" class="form-label">Insta</label> 
                  </div>
                        <div style="float:left;margin-left: 30px;;">
                         <a href="{{fullDetailobj.youtube}}">
                            <i class="fa-brands fa-youtube" style="color: #f00509;  font-size:30px;"></i>
                          </a>
                          <label for="inputCity" class="form-label">Youtube</label>
                        </div>
                  </div>
                </div> 
                <br>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                
              </div>
            </div>
          </div>
        </div>
    </center>
</body>

</html>